body{
	overflow:hidden;
}

.info{
	display: block;
  float: none;
  margin: auto;
  color: gray;
  width: 38%;
}

.popup{
	display: hidden;
	width: 30%;
	height: 20%;
	position: absolute;;
	top: 200px;
	left: 300px;
	border: 1px solid gray;
	border-radius: 10px;
	text-align: center;
	box-shadow: 10px 10px 5px gray;

}
.popup h3{
	text-align: center;
}

.show{
	display: block;
}

input[type='button']{
	padding: 5px;
	background: #ff8844;
}